.mobileOnly{
  display: flex;
}
.desktopNav,
.desktopOnly {
  display: none;
}


.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mobileMenuButton{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

@media screen and (min-width: 768px) {
  .mobileOnly {
    display: none;
  }
  .desktopOnly {
    display: flex;
  }

  /* Desktop navigation styles */
  .desktopNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 24px;
  }
  .navLink:hover,
  .navLink:focus,
  .navLink:active {
    color: var(--th-text-color);
    scale: 1.1;
  }
  .active {
    color: var(--th-text-color);
    text-decoration: underline;
  }
}
@media screen and (min-width: 1440px) {
   .desktopNav {
    gap: 64px;
  }
}

