.mobileOnly {
  display: flex;
}
.desktopNav,
.desktopOnly {
  display: none;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mobileMenuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

@media screen and (min-width: 1440px) {
  .mobileOnly {
    display: none;
  }
  .desktopOnly {
    display: flex;
  }
  .link {
    max-width: 232px;
    text-transform: uppercase;
    max-height: 58px;
  }

  /* Desktop navigation styles */
  .desktopNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    font-size: 1.5rem;
  }
  .navLink {
    display: inline-block;
  }

  .navLink:hover,
  .navLink:focus,
  .navLink:active {
    color: var(--third-text-accent-color);
    transform: scale(1.05);
  }
  .active {
    color: var(--third-text-color);
    text-decoration: underline;
  }
}
