.burger {
  position: relative;
  z-index: 100;
  width: 30px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background: var(--main-text-color);
  margin-bottom: 5px;
  transition: 0.3s;
  border-radius: 20px;
}

.burger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.burger.active span:nth-child(2) {
  opacity: 0;
}
.burger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.backdrop {
  top: 58px;
  left: 0;
  position: fixed;
  width: 100%;
  height: calc(100% - 68px);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  backdrop-filter: none;
}

.backdrop.mobileMenuOpen {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  backdrop-filter: blur(4px);
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 40px;
  position: absolute;
  align-items: center;
  text-align: center;
  gap: 24px;
  background-color: var(--background);
  min-width: 100%;
  transform: translateY(200%);
  transition: transform 0.6s;
  z-index: -1;
}
.backdrop.mobileMenuOpen .mobileMenu {
  transform: translateY(0);
}
.navLink {
  display: inline-block;
}

.navLink:hover,
.navLink:focus,
.navLink:active {
  color: var(--third-text-accent-color);
  transform: scale(1.05);
}
.active {
  color: var(--third-text-color);
  text-decoration: underline;
}
.link {
  display: grid;
  width: 100%;
  text-transform: uppercase;}

@media screen and (min-width: 1440px) {
  .mobileNav {
    display: none;
  }
}
