.backdrop {
  top: 68px;
  left: 0;
  position: fixed;
  width: 100%;
  height: calc(100% - 68px);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  backdrop-filter: none;
}

.backdrop.mobileMenuOpen {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  backdrop-filter: blur(4px);
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 40px;
  position: absolute;
  align-items: center;
  text-align: center;
  gap: 24px;
  background-color: var(--background);
  min-width: 100%;
  transform: translateY(200%);
  transition: transform 0.6s;
  z-index: -1;
}
.backdrop.mobileMenuOpen .mobileMenu {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .mobileNav {
    display: none;
  }
}

/* .mobile-menu {
  background-color: rgb(20 20 20 / 0.4);
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 999;
}
.mobile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
#mobile-menu-close {
  display: block;
}
.mobile-menu-wrapper {
  align-items: center;
  background-color: #576f35;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  min-width: 100%;
  padding: 20px 20px 40px;
  position: absolute;
  right: 0;
  transform: translateX(100%);
  transition: 0.6s;
}
.mobile-menu.is-open .mobile-menu-wrapper {
  transform: translateX(0);
} */
