.link {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--third-text-color);
  color: var(--secondary-text-color);
  border-radius: 2px;
  padding: 10px 0;
  font-size: 1.25rem;
  border: 1px solid var(--third-text-accent-color);
}
.link:hover,
.link:focus {
  background-color: var(--third-text-accent-color);
}


