.title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 62px;
}

.servicesList {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.serviceItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.serviceTitle {
  font-family: var(--display-oswald);
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: capitalize;
}
.serviceDescription {
  font-family: var(--montserrat);
  font-size: 1.25rem;
  line-height: 1.25;
}
.button {
  text-transform: uppercase;
  max-width: fit-content;
  padding-inline: 24px;
  margin: 0 auto;
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 4rem;
  }
  .servicesList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    padding-inline: 120px;
  }
  .serviceImage {
    height: 496px;
    object-fit: cover;
    overflow: hidden;
  }
  .serviceDescription {
    font-size: 1.5rem;
  }
  .button{
    margin: auto 0 0 0;
  }
}
