.logo {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  text-transform: uppercase;
}
.fit {
  color: var(--third-text-color);
}

@media screen and (min-width: 1440px) {
  .logo {
    font-size: 2.25rem;
  }
}
