.experienceSection {
  background-color: var(--foreground);
  margin-bottom: 100px;
}
.experienceContainer {
  display: flex;
  gap: 80px;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .experienceSection{
    padding: 128px 0;
  }
  .experienceContainer {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
  }
}