.section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    image-set(url(/HeroMob.webp) 1x, url(/HeroMob@2x.webp) 2x);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 0;
}

.container {
  padding: 626px 16px 26px;
  position: relative;
}

.title {
  color: var(--secondary-text-color);
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--notable);
}

.languageSwitcher {
  color: var(--secondary-text-color);
  position: absolute;
  top: 10px;
  right: 10px;
}

@media screen and (min-width: 1440px) {
  .section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      image-set(url(/HeroDesk.webp) 1x, url(/HeroDesk@2x.webp) 2x);
    max-width: 1440px;
  }

  .container {
    padding: 630px 78px 26px;
  }

  .title {
    font-size: 5.75rem;
  }
  .languageSwitcher {
    top: 20px;
    right: 20px;
  }
}
