.aboutMeContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 64px;
}

/* First */

.content1,
.content2,
.content3 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-weight: 500;
  font-size: 3rem;
  text-transform: uppercase;
}
.content1 .title {
  font-weight: 700;
}

.text {
  font-weight: 600;
  font-size: 2.5rem;
}

.content1 .text:nth-of-type(1) {
  font-style: italic;
  font-weight: 700;
}

.image1,
.image2,
.image3 {
  object-fit: cover;
  overflow: hidden;
}

.image1 {
  height: 332px;
}

/* Second */

.content2 {
  gap: 28px;
}

.linkButton {
  font-size: 2.25rem;
  text-transform: capitalize;
  width: 264px;
  margin: 0 auto;
}

.image2 {
  height: 352px;
}

/* Third */

.content3 {
  gap: 40px;
}

.image3 {
  height: 550px;
}

.story {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.storyList {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.listItem {
  font-size: 1.5rem;
  line-height: 1.2;
}

@media screen and (min-width: 1440px) {
  .aboutMeContainer {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 0 72px;
  }

  .content1 {
    grid-column: 1 / 2;
    width: 550px;
    padding-bottom: 150px;
  }

  .content2 {
    grid-column: 2 / 3;
    justify-self: end;
    align-self: end;
    width: 416px;
  }
  .story {
    flex-direction: row;
  }

  .content3 {
    grid-column: 1 / -1; /* займає всю ширину */
  }

  .image1 {
    height: 332px;
    object-position: 0% 28%;
  }

  .image2 {
    width: 416px;
    height: 352px;
    object-position: 0% 76%;
  }
  .image3 {
    min-width: 526px;
    height: 550px;
    object-position: 0% 37%;
  }
  .listItem {
    font-size: 2rem;
  }
}
