@import url("modern-normalize/modern-normalize.css");
/* Reset */
*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
img,
button,
input,
select,
textarea {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
a {
  color: currentColor;
  cursor: pointer;
  font-style: normal;
  text-decoration: none;
}
button {
  border: none;
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root {
  --cormorant-garamond: "Cormorant Garamond", serif;
  --montserrat: "Montserrat", sans-serif;
  --reddit-mono: "Reddit Mono", monospace;
  --notable: "Notable", cursive;
  --display-oswald: "Oswald", sans-serif;

  --background: #fffaf0;
  --foreground: #efdecd;

  --main-text-color: #010101;
  --secondary-text-color: #fffcfc;
  --third-text-color: #cd5700;
  --third-text-accent-color: #b95000;
}

/* dark theme disabled until ready */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  html {
    color-scheme: dark;
  }
} */

/* main settings */
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: var(--cormorant-garamond);
  color: var(--main-text-color);
  background: var(--background);
  font-size: 2rem;
}

a,
button,
svg,
input,
input::placeholder {
  transition-duration: 250ms;
  transition-property: background-color, color, border-color, box-shadow, fill,
    stroke, opacity, transform, scale;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* global element styles */

/* container */
.container {
  min-width: 320px;
  max-width: 767px;
  margin: 0 auto;
  padding: 0 16px;
}
section {
  padding: 64px 0;
}
/* Styles for Tablet */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
/* Styles for PC */
@media only screen and (min-width: 1440px) {
  section {
    padding: 100px 0;
  }
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
