.marquee {
  overflow: hidden;
  width: 100%;
  background-color: var(--third-text-color);
  padding: 10px 0;
}

.track {
  display: flex;
  gap: 20px;
  width: max-content;
  will-change: transform;
}

.track span {
  white-space: nowrap;
  font-family: var(--montserrat);
  font-size: 2rem;
  color: var(--secondary-text-color);
  text-transform: uppercase;
}

@media screen and (min-width: 1440px) {
  .track {
    gap: 40px;
  }

  .track span {
    font-size: 3rem;
  }
}
