.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 36px;
}
.title {
  font-family: var(--display-oswald);
  font-weight: 700;
  font-size: 5rem;
  line-height: 1.25;
  text-transform: uppercase;
}
.brBlock {
  color: var(--third-text-color);
  font-weight: 700;
}
.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
  padding: 0 20px;
}
.item {
  display: grid;
  place-items: center;
  aspect-ratio: 1 / 1;
  gap: 24px;
  border: 1px solid var(--third-text-color);
}
.header {
  font-family: var(--display-oswald);
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  align-self: end;
}
.price {
  color: var(--third-text-accent-color);
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  align-self: start;
}

@media screen and (min-width: 1440px) {
 .container {
  display: grid;
  grid-template-columns: 600px 1fr;
  gap: 24px;
}
  .title {
    font-size: 8.5rem;
  }
  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 0;
  }
}
