.item {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-top: 1px solid var(--main-text-color);
  overflow: hidden;
}
.item:last-child {
  border-bottom: 1px solid var(--main-text-color);
}
.questionButton {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  background: none;
  border: none;
  padding: 16px 0;
  gap: 12px;
}
.counter{
  font-family: var(--reddit-mono);
  font-weight: 300;
  font-size: 0.875rem;
}
.questionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  gap: 12px;
}
.question {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
}
.icon {
  min-width: 28px;
  transition: transform 0.3s ease;
  transform: rotate(-45deg);
}
.icon.open {
  transform: rotate(135deg);
}

.answerWrapper {
  width: 100%;
  overflow: hidden;
  transition: height 0.3s ease;
}
.answer {
  padding: 0 0 16px 0;
  font-size: 1.25rem;
  font-weight: 500;
  font-style: italic;
}

@media screen and (min-width: 1440px) {
 .item{
  max-width: 996px;
  margin-left: auto;
 }
 .counter{
  font-size: 1rem;
 }
 .question{
  font-size: 2.25rem;
 }
 .answer{
  font-size: 1.5rem;
 }
}