
  .link {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--th-text-color);
    color: var(--secondary-text-color);
    text-transform: uppercase;
    line-height: 1.2;
    padding: 10px;
    font-size: 18px;
    max-width: 160px;
    border-radius: 2px;
    border: 1px solid var(--th-text-accent-color);
  }
  .link:hover,
  .link:focus {
    background-color: var(--th-text-accent-color);
  }

@media screen and (min-width: 1440px) {
  .link {
    padding: 10px 28px;
    font-size: 16px;
    max-width: 237px;
  }
}