.switcher {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: var(--montserrat);
}

.link:hover, .link:focus {
  text-decoration: underline;
  color:var(--th-text-color)
}

.active {
  text-decoration: underline;
}
.separator {
  margin: 0 4px;
}